@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/lotr\ wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-fixed-size {
  font-size: 1.25rem; /* Adjust as needed */
}
